.header-title
	position: absolute
	left: $grid-gutter-width / 2
	right: $grid-gutter-width / 2
	bottom: $line-height-computed / 2

.header-image
	background: $brand-primary
	height: 300px

.header-nav
	margin-top: $line-height-computed / 2
	margin-bottom: $line-height-computed / 2
