header
	color: white
	.name
		fill: white
		&:hover
			fill: f-adjust-lightness($brand-secondary,90)

footer > .container
	background-color: white
	box-shadow: 0 #{-0.5*$line-height-computed - 2} 0 #{-0.5*$line-height-computed} $brand-secondary



.form-control:focus
	box-shadow: none
	background-color: f-adjust-lightness($brand-primary,98)

.bg-white
	background-color: white
