.header-title
	color: white
	.name
		fill: white

footer
	background-color: #eee


.form-control:focus
	box-shadow: none
	background-color: hsl(hue($brand-primary),saturation($brand-primary),95)
	// background-color: lighten($brand-primary,35%)
