// =font($family,$weight)
// 	@if $family == accent
// 		font-family: $gotham
// 		@if $weight == light
// 			font-weight: $gotham-light-weight
// 		@else if $weight == medium
// 			font-weight: $gotham-book-weight
// 		@else if $weight == heavy
// 			font-weight: $gotham-bold-weight
// 	@else if $family == body
// 		font-family: $source-sans
// 		@if $weight == light
// 			font-weight: $source-sans-light-weight
// 		@else if $weight == medium
// 			font-weight: $source-sans-book-weight
// 		@else if $weight == heavy
// 			font-weight: $source-sans-bold-weight

.text-large
	font-size: $font-size-large

.text-uppercase
	letter-spacing: .04em

.display-inline-block
	display: inline-block

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
	> a
		@extend .a-secret
		@extend .a-no-decorate
	> small
		font-size: 80%

.header-title
	font-size: 3*$line-height-computed
