body
	font-weight: $font-weight-base

.text-large
	font-size: $font-size-large

.text-uppercase
	letter-spacing: .04em

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
	> a
		@extend .a-secret
		@extend .a-no-decorate
	> small
		font-size: 80%

.header-title
	> h1
		font-size: 3*$line-height-computed
	> h4
		font-weight: $font-weight-base
