<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }}{% if page.title %} – {% endif %}{{ site.name }}</title>
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/static/css/screen.css" />
		<link rel='shortcut icon' type='image/x-icon' href='{{ site.baseurl }}/favicon.ico' />
		<script type="text/javascript" src="//use.typekit.net/xdf4hao.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<!-- Photographs by Harris Lapiroff -->
	</head>
	{{ content }}
</html>
